.box {
  position: absolute;
  padding: 15px;
  background-color: rgba(196, 227, 237, 0.79);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 726px) {
  .media {
    font-size: 1em;
    line-height: normal;
  }
}
